/* .test {
    height: 200px;
    width: 200px;
    background: url("./assets/pngwing.png");
} */

.table_ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
    /* width: 112px; */
}
.title_tb {
    background-color: #adc4ff;
}
table {
    width: 85%;
    border: 2px solid;
}
tbody tr:nth-child(2n + 1) {
    background-color: #cacaca;
}

tr {
    height: 30px;
}

#sidebar {
    --tw-translate-x: -100%;
}
#menu-close-icon {
    display: none;
}

#menu-open:checked ~ #sidebar {
    --tw-translate-x: 0;
}
#menu-open:checked ~ * #mobile-menu-button {
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}
#menu-open:checked ~ * #menu-open-icon {
    display: none;
}
#menu-open:checked ~ * #menu-close-icon {
    display: block;
}

@media (min-width: 768px) {
    #sidebar {
        --tw-translate-x: 0;
    }
}
