@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1051px) {
    #small-screen-tool {
        display: initial;
    }
    #tool {
        display: none;
    }
}

@media (min-width: 1050px) {
    #small-screen-tool {
        display: none;
    }
    #tool {
        display: flex;
    }
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
    border: transparent;
}

::-webkit-resizer {
    width: 4px;
}

.ql-container img {
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
    width: 200px;
    object-fit: contain;
}

* {
    margin: 0;
    padding: 0;
}

.ql-toolbar {
    position: sticky;
    top: 0;
    z-index: 40;
    background-color: snow;
    margin-bottom: 5px;
}

.ql-editor img {
    height: 200px;
}

.ql-editor {
    border-top: groove;
    border-width: 2px;
    padding: 0px;
}

#sidebar {
    height: 800px;
    overflow-y: scroll;
    position: sticky;
}

/* 
.editor {
    width: 900px;
} */

#photoid {
    object-fit: contain;
}

#qrcode {
    image-rendering: pixelated;
}
