@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 900px) {
    #small-screen-tool {
        display: initial;
    }
    #tool {
        display: none;
    }
}

@media (min-width: 901px) {
    #small-screen-tool {
        display: none;
    }
    #tool {
        display: flex;
    }
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
    border: transparent;
}

::-webkit-resizer {
    width: 4px;
}

.ql-container img {
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
    width: 200px;
    object-fit: contain;
}

* {
    margin: 0;
    padding: 0;
}

.ql-toolbar {
    position: sticky;
    top: 0;
    z-index: 40;
    background-color: snow;
}

#carousel {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

#carousel::-webkit-scrollbar {
    display: none;
}

.ql-editor img {
    height: 200px;
}

#carousel .slide {
    display: inline-block;
}

#sidebar {
    height: 800px;
    overflow-y: scroll;
}

#sidebar::-webkit-scrollbar {
    /* display: none; */
    color: white;
}

.editor {
    width: 900px;
}

#photoid {
    object-fit: contain;
}

#qrcode {
    image-rendering: pixelated;
}
